//MY THEME COLOR
$purple-dark:  #ffc107; //#9926f0;
$purple-light:  #8B8000; //#BB6EF5;


$pink:    #d122e3;
$footer: #151414;

//MY THEME COLOR
/* $gold:  #fff000;
$purple-light:  #BB6EF5;
$yellow:    #c8f722;
$footer: #151414; 

_______
--bs-body-color:#212529;
--bs-yellow:#ffc107;
--bs-gray:#6c757d;
--bs-orange:#fd7e14;
--bs-gray-500:#adb5bd;
--bs-gray-600:#6c757d;
--bs-gray-700:#495057;
--bs-gray-800:#343a40;
--bs-gray-900:#212529;
--bs-gray:#6c757d;
--bs-gray-dark:#343a40;
--bs-gray-100:#f8f9fa;
--bs-gray-200:#e9ecef;
--bs-gray-300:#dee2e6;
--bs-gray-400:#ced4da;
--bs-gray-500:#adb5bd;
--bs-gray-600:#6c757d;
--bs-gray-700:#495057;
--bs-gray-800:#343a40;
--bs-gray-900:#212529;
--bs-warning:#ffc107;
--bs-dark:#212529;
--bs-light-rgb:248,249,250;
--bs-body-color-rgb:33,37,41;
--bs-body-bg-rgb:255,255,255;




_______*/

//WHITE AND GREY COLOURS
$white:    #fff; 
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
$body-color: #212529;

$primary:       $purple-dark;
$secondary:     $purple-light;

//ACCORDIAN OVERRIDE
$accordion-padding-y:                     1.5rem;
$accordion-padding-x:                     1.5rem;
$accordion-icon-color:                    $primary;
$accordion-icon-active-color:             $secondary;
$accordion-icon-width:                    1.875rem ;
$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");
//IMPORT BOOTSRAP 5
@import "../node_modules/bootstrap/scss/bootstrap.scss";
