
@import url('https://fonts.cdnfonts.com/css/poppins');
                
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;                 
}
.container{
    width: 90%;
    margin: auto;
}
a{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}
li{
    list-style: none;
}

@media (max-width: 768px){
    .container{
        width: 90%;
        margin: auto;
    }
    .header{
        padding: 20px 0;
        
    }
    .navbar-nav{
        padding: 20px 0;
    
    }
    .hero-btn{
        display: block;
        left:50%;
        transform: translateX(-50%);
    }
    .nav-item{
        margin-bottom: 50px!important;
        transform: translateX(-150px);
    }
    .wave-con .container h1{
        margin-top: 85%;
        font-size: 30px;
        color: white;
    }
    .wave-con .container h2{
        margin-top: 15%;
        font-size: 24px;
        color: black;
    }
    .hero2 .container h3{
        font-size: 28px;
        color: white;
        margin-top: 20px;
        font-weight: 500;
    }
    .circle-anim{
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(1);
        background: linear-gradient(30deg, rgb(0, 81, 255), lightgreen);
        animation: expand 5s alternate;
    }
    .anim{
        animation: movin 2s linear forwards;
       
    }
    .l1.anim{
        animation-delay: .5s;
    }
    .l2.anim{
        animation-delay: 1.5s;
    }
    .l3.anim{
        animation-delay: 2.5s;
    }
    .l4.anim{
        animation-delay: 3s;
    }
    .l5.anim{
        animation-delay: 4.5s;
    }
    
    @keyframes movin {
        from{
            transform: translateX(-150px);
            opacity: 0;
        }to{
            transform: translateX(0);
            opacity: 1;
        }
    }
    .header img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
        z-index: -1;
        opacity: .7;
        animation: header 2s alternate;
    }
    @keyframes header {
        from{
            transform: scale(1.2);
        }to{
            transform: scale(1);
        }
    }
    .service h4{
        font-size: 14px;
    }
    .our-service li{
        margin-bottom: 40px;
        font-size: 20px;
        cursor: pointer;
        transition: transform .5s ease-in-out;
    }
    .hero{
        width: 100%;
        height: 80vh;
       
    }
    .hero2{
        width: 100%;
        height: 80vh;
       
    }
}